# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Directories used to store the compiled classes
bin/
out/
target/

# Maven specific
log/
target/**

# Gradle specific
.gradle/
build/

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual Machine crash logs
hs_err_pid*
